.wraper {position:relative; dispaly:block; width:100%; border:1px solid red; box-sizing:border-box;}
.wrap {position:relative; width:100%;}
.content_box {display: inline-block; float:left; width:calc(100% / 3); background-color:red;}